<%- include('partials/header') %>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">
                <%= title %>
            </h1>
                  <form class="row g-3" action="/users/add" method="POST">
                    <div class="col-12">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName" name="inputName" required>
                      </div>
                    <div class="col-md-6">
                      <label for="inputEmail" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputEmail" name="inputEmail" required>
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword" name="inputPassword" required>
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text" class="form-control" id="inputAddress" name="inputAddress" required>
                    </div>
                   
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-express">Submit</button>
                    </div>
                  </form>
               
               
               
            </div>
       
    </main>

    <%- include('partials/footer') %>
        </body>
</html>