<%- include('partials/header') %>


  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Node, Express & MySQL</h1>
      <p class="lead">Welcome to <%= title %>
      </p>
      <p><a href="https://nodejs.org/" target="_blank">View Node Documentation</a></p>
      <p><a href="https://expressjs.com/" target="_blank">View Express Documentation</a></p>

    </div>
  </main>

  <%- include('partials/footer') %>
    </body>

</html>